@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Fraunces:wght@100&family=Playfair+Display&family=Yusei+Magic&display=swap');
*{
    padding: 0;
    margin: 0;
}

/*home styling*/

.home{
    margin: 40px 60px;
}

span{
    font-family: none;
    color: #111;
}

.register li a{
    display: block;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    margin-top: -40px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.register li {
    list-style: none;
    float: right;
}

.register .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    float: right;
}

.menu-2{
    margin-top: -30px;
}

.menu-2 li {
    list-style: none;
    float: right;
}

.menu-2 .menu-tool {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
}

.menu-2 .menu-tool li::before{
    content: " ";
    height: 0;
    position: relative;
    top: 14px;
    width: 0;
    z-index: 1;
    right: 25px;
    border: medium solid #00abe9;
    border-width: 8px 8px 8px 8px;
    border-color: white transparent transparent;
    cursor: pointer;
}

.menu-2 .menu-tool .special::after{
    content: "";
    width: 0;
    height: 0;
    top: 14px;
    z-index: 5;
    right: -20px;
    position: relative;
    border: medium solid #00abe9;
    border-width: 8px 8px 8px;
    border-color:rgb(241, 121, 8) transparent transparent transparent;
    cursor: none;
}

.menu-2{
    background-color: rgb(241, 121, 8) ;
    border-radius: 10px;
    text-align: center;
    height: 40px;
}

.menu-2 .menu-tool a{
    color: #fff;
    font-weight: 600;
    margin-left: 5px;
    height: 40px;
    font-family: 'Arial';
    text-decoration: none;
}

.register .menu .blue{
    background-color: rgb(0, 162, 255);
    color: #fff;
    border-radius: 10px;
    padding: 7px 20px;
}

.register .menu .blue:hover{
    background: aqua;
    color: #111;
}

.pub{
    height: 150px;
    width: 90%;
    border-style: solid;
    border-color: #f9c000;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
}

.home .pub div.message{
    width: 93%;
    float: right;
    margin: 10px 0px;
}

.home .pub div.panneau{
    width: 5%;
    float: left;
    background-color: #f9c000;
    overflow: hidden;
}

.home .pub div.panneau img{
    height: 46px;
    width: 50px;
    margin: 50px 5px;
    
}

.home .pub div.message .title,
.home .pub div.message .message-1{
    margin-top: 20px;
}

.home .options{
    z-index: 100;
    background-color: whitesmoke;
    background-size: contain;
    height: 250px;
    width: 200px;
    text-align: left;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: -150px;
}

.home .options li{
    list-style: none;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10px;
}

.home .options a{
    text-decoration: none;
}

/* bild section styling*/

.list{
    display: inline-block;
    position: relative;
    margin-left: 150px;
}

.list img{
    border-radius: 10px;
}

.list .list1 li{
    display: inline-block;
    justify-content: space-between;
    margin-left: 30px;
    text-align: center;
}

.list .list1 {
    text-align: left;
}

.list .liste{
    background: rgba(255, 255, 255, 0.541);
    z-index: 1;
    position: relative;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    width: 70%;
    margin-top: -250px;
    border-radius: 5px;
    padding: 20px;
}
.list .liste h2{
    margin: 5px auto;
    text-align: left;
}

.list .liste .list1 .finden{
    background: #00abe9;
    border: #00abe9;
    border-radius: 5px;
    color: white;
}

.list .liste .list1 .finden:hover{
    color: #111;
    background-color: aqua;
}

.list .liste .list1 .stadt,
.list .liste .list1 #zimmer,
.list .liste .list1 #angebot,
.list .liste .list1 .finden{
    padding: 5px 20PX;
    cursor: pointer;
}
