*{
    margin: 0;
    padding: 0;
}

/*home styling*/

.home{
    margin: 40px 60px;
    z-index: 10;
    .register{
        float: right;
        margin-top: -50px;
    }
    .options{
        height: 300px;
        width: auto;
        .options-1{
            position: fixed;
            .angebot-options{
                display: none;
                margin-left: 40px;
                background: whitesmoke;
                height: 295px;
                padding: 10px;
                ul{
                    list-style: none;
                    li{
                        padding: 20px;
                        text-align: left;
                    }
                    li:hover{
                        background-color: rgba(255, 166, 0, 0.767);
                    }
                }
            }
            .angebot-options.show1{
                margin-top: -30px;
                display: block;  
            }
            .gesuche-options{
                display: none;
                margin-left: -15px;
                background: whitesmoke;
                height: 290px;
                padding: 10px;
                ul{
                    list-style: none;
                    li{
                        padding: 20px;
                        text-align: left;
                    }
                    li:hover{
                        background-color: rgba(255, 166, 0, 0.767);
                    }
                }
            }
            .gesuche-options.show2{
                display: block;
                margin-left: 220px;
                margin-top: -30px;
            }
            .mein-options{
                display: none;
                margin-left: -10px;
                background: whitesmoke;
                height: 235px;
                padding: 10px;
                ul{
                    list-style: none;
                    li{
                        padding: 20px;
                        text-align: left;
                    }
                    li:hover{
                        background-color: rgba(255, 166, 0, 0.767);
                    }
                }
            }
            .mein-options.show3{
                display: block;
                margin-left: 400px;
                margin-top: -30px;
            }
            .hilfe-options{
                display: none;
                margin-left: 10px;
                background: whitesmoke;
                height: 235px;
                padding: 10px;
                ul{
                    list-style: none;
                    li{
                        padding: 20px;
                        text-align: left;
                    }
                    li:hover{
                        background-color: rgba(255, 166, 0, 0.767);
                    }
                }
            }
            .hilfe-options.show4{
                display: block;
                margin-left: 650px;
                margin-top: -30px;
            }
            .info-options{
                display: none;
                margin-left: 70px;
                background: whitesmoke;
                height: 470px;
                padding: 10px;
                ul{
                    list-style: none;
                    li{
                        padding: 20px;
                        text-align: left;
                    }
                    li:hover{
                        background-color: rgba(255, 166, 0, 0.767);
                    }
                }
            }
            .info-options.show5{
                display: block;
                margin-left: 880px;
                margin-top: -30px;
            }
            li.options-n{
                display: inline-flex;
                justify-content: space-between;
            }
        }
    }

    .menu-2{
        background: orange;
        margin-top: 15px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
        .menu-tool{
            li{
                display: inline-block;
                justify-content: space-between;
                a{
                    padding: 40px;
                    text-decoration: none;
                    color: white;
                    font-family: "Arial";
                    font-weight: 700;
                }
            }
            li::before{
                content: " ";
                height: 0;
                position: relative;
                top: 12px;
                width: 0;
                z-index: 1;
                right: 40px;
                border: medium solid #00abe9;
                border-width: 8px 8px 8px 8px;
                border-color: white transparent transparent;
                cursor: pointer;
            }
        }
    }
}

.register {
    .inser-options{
        position: relative;
        float: right;
        margin-right: 20px;
        background: whitesmoke;
        margin-top: 8px;
        text-align: left;
        display: none;
        overflow: hidden;
        li{
            list-style: none;
            padding: 20px;
            text-decoration: none;
        }
        li:hover{
            background-color: rgba(255, 166, 0, 0.767);
        }
        a{
            padding: 20px;
            text-decoration: none;
        }
        a:hover{
            color: #000;
        }
    }
    .inser-options.show{
        display: block;
    }
     .menu{
         .blue{
             padding: 10px;
             background: rgb(7, 123, 231);
             border-radius: 10px;
             color: white;
         }
        li{
            display: inline-block;
            justify-content: space-between;
            margin-left: 20px;
            a{
                text-decoration: none;
            }
        }
    }
}

/*pub styling*/

.pub{
    height: 150px;
    width: 90%;
    border-style: solid;
    border-color: #f9c000;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    margin-top: -330px;
}

.pub div.message{
    width: 93%;
    float: right;
    margin: 10px 0px;
}

.pub div.panneau{
    width: 5%;
    float: left;
    background-color: #f9c000;
    overflow: hidden;
}

.pub div.panneau img{
    height: 46px;
    width: 50px;
    margin: 50px 16px;
    overflow: hidden;
    
}

.pub div.message .title,
.pub div.message .message-1{
    margin-top: 25px;
}


/* bild  styling*/

.list::before{
    content: url('/img/portal_003.jpg');
    margin: 10px 300px;
}


.list .list1 li{
    display: inline-block;
    justify-content: space-between;
    margin-left: 30px;
    text-align: center;
}

.list .list1 {
    text-align: left;
}

.list .liste{
    background: rgba(255, 255, 255, 0.541);
    z-index: 1;
    position: relative;
    text-align: center;
    font-family: Georgia;
    margin: 0 550px 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    width: 50%;
    margin-top: -250px;
    border-radius: 5px;
    padding: 25px;
}
.list .liste h2{
    margin: 10px auto;
    text-align: left;
}

.list .liste .list1 .finden{
    background: #00abe9;
    border: #00abe9;
    border-radius: 5px;
    color: white;
}

.list .liste .list1 .finden:hover{
    color: #111;
    background-color: aqua;
}

.list .liste .list1 .stadt,
.list .liste .list1 #zimmer,
.list .liste .list1 #angebot,
.list .liste .list1 .finden{
    padding: 5px 40PX;
    cursor: pointer;
}